[Unit]
Description=logstash

[Service]
Type=simple
User=root
Group=root
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
Environment=LS_HOME="/usr/local/logstash"
Environment=LS_SETTINGS_DIR="/usr/local/logstash/config"
Environment=LS_PIDFILE="/var/run/logstash.pid"
Environment=LS_USER="logstash"
Environment=LS_GROUP="logstash"
Environment=LS_GC_LOG_FILE="/var/log/logstash/gc.log"
Environment=LS_OPEN_FILES="16384"
Environment=LS_NICE="19"
Environment=SERVICE_NAME="logstash"
Environment=SERVICE_DESCRIPTION="logstash"
Environment="JAVA_HOME=/usr/local/jdk"

ExecStart=/usr/local/logstash/bin/logstash
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target